Saltar al contenido principalIr a la barra de herramientas
Acerca de WordPress
Luxure Hogar
1010 actualizaciones disponibles
00 comentarios en moderación
Añadir
Edge Options
Hola, Misael
Salir
Ayuda
Editar temas
Tu instalación de Google Listings and Ads está incompleta. Si lo has instalado desde GitHub, por favor, consulta este documento para configurar tu entorno de desarrollo.

Mailchimp for Woocommerce todavía no está conectado a una cuenta de Mailchimp. Para completar la conexión visita la página de ajustes del plugin.

Dismiss this notice.
Hola! Would you like to receive automatic updates and unlock premium support? Please activate your copy of WPBakery Page Builder.

Descartar este aviso.
¿Lo sabías?

No hay necesidad de cambiar tu CSS aquí — puedes editar y previsualizar en directo los cambios de CSS en el editor CSS integrado.

Aalto Child: style.css
Elige el tema a editar: 
Aalto Child
 

Archivos del tema
Este tema hijo hereda plantillas de un tema padre, Aalto.
style.css
functions.php
Contenido del archivo seleccionado:
1
/*
2
Theme Name: Aalto Child
3
Theme URI: http://aalto.edge-themes.com
4
Description: A child theme of Aalto Theme
5
Author: Edge Themes
6
Author URI: http://themeforest.net/user/edge-themes
7
Version: 1.0.0
8
Text Domain: aalto
9
Template: aalto
10
*/
11
​
 


Gracias por crear con WordPress.Versión 5.8.1
